aiodns==3.5.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
alembic==1.17.2
aniso8601==10.0.1
attrs==25.4.0
backports.zstd==1.0.0
bcrypt==5.0.0
blinker==1.9.0
brotli==1.2.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.0
distlib==0.4.0
filelock==3.20.0
Flask==3.1.2
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
flask-marshmallow==1.3.0
Flask-Migrate==4.1.0
Flask-RESTful==0.3.10
flask-restful-swagger==0.20.1
flask-restx==1.3.2
Flask-SQLAlchemy==3.1.1
frozenlist==1.8.0
greenlet==3.2.4
idna==3.11
importlib_resources==6.5.2
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
Mako==1.3.10
MarkupSafe==3.0.3
marshmallow==4.1.0
multidict==6.7.0
opa-python-client==2.0.3
packaging==25.0
pipenv==2025.0.4
platformdirs==4.5.0
propcache==0.4.1
pycares==4.11.0
pycparser==2.23
pytz==2025.2
referencing==0.37.0
requests==2.32.5
rpds-py==0.28.0
setuptools==80.9.0
six==1.17.0
SQLAlchemy==2.0.44
SQLLite3HelperClass==1.2
typing_extensions==4.15.0
urllib3==2.5.0
virtualenv==20.35.4
Werkzeug==3.1.3
yarl==1.22.0
gunicorn
marshmallow-sqlalchemy